---
# .github/workflows/ci.yml

name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Go vet
        run: go vet ./...

      - name: Run tests
        run: go test -race -count=1 -coverprofile=coverage.out ./internal/...

      - name: Build
        run: go build -ldflags "-X main.buildNum=$(date +%Y%m%d.%H%M%S)" -o ./teamoon ./cmd/teamoon/
